*{ user-select: none;}
.input_root{
    @apply appearance-none sr-only;
}

/**   task custom **/
.checkbox_label_root__task{
    @apply inline-flex items-center justify-center cursor-pointer;
}

.span_second_child__task,.span_first_child__task{
    @apply inline-block align-middle;
    transform: translate3d(0, 0, 0);
    outline: none;
}

.span_first_child__task{
    @apply mr-2 relative w-6 h-6 text-white align-middle rounded-full;
    transform: scale(1);
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
}

.span_first_child__task::before{
    @aply w-full h-full bg-purple-600 block opacity-100;
    content: "";
    transform: scale(0);
    border-radius: 50%;
    transition-delay: 0.2s;
    
}
input:checked~.span_first_child__task{
    @apply border-purple-600 bg-purple-600;
    animation: check 0.6s ease;
}

input:checked~.span_first_child__task::before {
    @apply opacity-0;
    transform: scale(2.2);
    transition: all 0.6s ease;
}

.svg_child__task{
    @apply absolute opacity-0;
    top: 50%;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate(-50%, -50%);
}

input:checked~span .svg_child__task{
    
    @apply opacity-100;
}

.span_second_child__task::after{
    @apply absolute left-0 h-px w-full bg-gray-500;
    content: "";
    top: 50%;
    transform-origin: 0 0;
    transform: scaleX(0);
}

input:checked~.span_second_child__task::after{
    transform: scaleX(1);
    transition: all 0.3s ease;
}
input:checked~.span_second_child__task{
    @apply text-gray-500;
    transition: all 0.3s ease;
}



/**   chippy custom **/

.checkbox_label_root__chippy{
    @apply inline-flex items-center justify-center cursor-pointer;
}

.span_first_child__chippy{
    display: none;
}
.span_second_child__chippy{
    @apply inline-block align-middle text-gray-500 bg-white;
    outline: none;
    transform: translate3d(0, 0, 0);
   
    border: 2px solid rgba(139, 139, 139, .3);
    border-radius: 25px;
    padding: 5px 12px;
}

input:checked~ .span_second_child__chippy{
    @apply border-purple-400 bg-purple-500 text-white;
    transition: all .2s;
    
}

.span_second_child__chippy::before {
   @apply inline-block;
   padding: 2px 6px 2px 2px;
   content: "+";
   transition: transform .3s ease-in-out;
}

input:checked~ .span_second_child__chippy::before {
    content: "✓";
    transform: rotate(-360deg);  
}


/**   normal custom **/

.checkbox_label_root__normal{
    @apply inline-flex items-center justify-center cursor-pointer;
}

.span_second_child__normal{
    display: none;
}


.span_second_child__normal,.span_first_child__normal{
    @apply inline-block align-middle;
    transform: translate3d(0, 0, 0);
    outline: none;
}

.span_first_child__normal{
    @apply mr-2 relative w-6 h-6 text-white align-middle rounded-full;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
}

.span_first_child__normal::before{
    @apply w-full h-full bg-purple-600 block opacity-100;
    content: "";
    transform: scale(0);
    border-radius: 50%;
    transition-delay: 0.2s;
}
input:checked~.span_first_child__normal{
    @apply border-purple-600 bg-purple-600;
    animation: check 0.6s ease;
}

input:checked~.span_first_child__normal::before {
    @apply opacity-0;
    transform: scale(2.2);
    transition: all 0.6s ease;
}

.svg_child__normal{
    @apply absolute opacity-0;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate(-50%, -50%);
}

input:checked~span .svg_child__normal{
    @apply opacity-100;
}

input:checked~.span_second_child__normal{
    @apply text-gray-500;
    transition: all 0.3s ease;
}

/** radio custom */
.checkbox_label_root__radio{
    @apply inline-flex items-center justify-center cursor-pointer;
}

.span_second_child__radio,.span_first_child__radio{
    @apply inline-block align-middle;
    transform: translate3d(0, 0, 0);
    outline: none;
}
.span_first_child__radio {
   @apply relative block float-left mr-2 w-5 h-5;
   border: 2px solid #c8ccd4;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
}
.span_first_child__radio::after{
    @apply absolute w-3 h-3 bg-purple-600 pointer-events-none;
    content: '';
    top: 2px;
    left: 2px;
    border-radius: 100%;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
  }
  .checkbox_label_root__radio::hover > .span_first_child__radio::after {
    transform: scale(3.6);
  }
  input:checked~.span_first_child__radio{
    @apply border-purple-600;
    animation: check 0.6s ease;
  }
  input:checked~.span_first_child__radio::after {
    @apply opacity-100;
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    
  }
  .svg_child__radio{
    display: none;
}
/** KEYFRAME */
@keyframes check {
    50% {
      transform: scale(1.2);
    }
}
